<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>
<script type="text/javascript">
/*$(function() {
var segmentedOptions = {
  id: 'mySegmented',
  labels : ['Feed','About','Groups'],
  selected: 0
};

var segmentedResponse = function(e) {
  e.stopPropagation();
  $('#output').find('h3 > span').html(($(this).index() + 1));
};

var newSegmented = $.UICreateSegmented(segmentedOptions);
  $('#segmentedPanel').append(newSegmented);
  $('.segmented').UISegmented({callback:segmentedResponse});
  $('.segmented').UIPanelToggle('#toggle-panels',function(){$.noop;});

var selectedPanel = $('.segmented').find('.selected').index();
  $('#output').find('span').html(selectedPanel + 1);
});*/

</script>
<style type="">
/*   #segmentedPanel {
      position: absolute;
      top: 0;
      display: block;
   }*/
</style>
<article>
<section class="contacts-list">
    <div id='segmentedPanel' class='horizontal centered'></div>
    <div id="toggle-panels">
        <!-- Friends -->
      <div class="">
        <ul class='list'>
            <li class='comp chat-button'>
         <aside>
            <span class="default-icon"></span>
         </aside>
         <div>
            <h3>Billy Edwards</h3>
            <h4>March 16</h4>
            <p>Oh nice!</p>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
      <li class='comp'>
         <aside>
            <span class="default-icon"></span>
         </aside>
         <div>
            <h3>Joel Owen</h3>
            <h4>March 16</h4>
            <p>Oh nice!</p>
         </div>
         <aside>
            <span class='show-detail'></span>
         </aside>
      </li>
      <li class='comp'>
         <aside>
            <span class="default-icon"></span>
         </aside>
         <div>
            <h3>Jonathan Harry</h3>
            <h4>March 10</h4>
            <p>How are you?</p>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
      <li class='comp'>
         <aside>
            <span class="default-icon"></span>
         </aside>
         <div>
            <h3>Max Andrews</h3>
            <h4>March 8</h4>
            <p>Going to Shoreditch</p>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
      <li class='comp'>
         <aside>
            <span class="default-icon"></span>
         </aside>
         <div>
            <h3>David Cook</h3>
            <h4>February 28</h4>
            <p>Will ring you in 5</p>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
      <li class='comp'>
         <aside>
            <span class="default-icon"></span>
         </aside>
         <div>
            <h3>Katie Gregory</h3>
            <h4>February 20</h4>
            <p>Great!</p>
         </div>
         <aside>
            <span class='show-detail'></span>
         </aside>
      </li>
      </ul>
         <p id='response'></p>
        </div>
        <!-- Groups -->
        <div data-role="content" class="">
            <ul class='list'>
            <li class='nav' ontouchend="openProfile()">
               <h3>Groups</h3>
            </li>
            <li class='nav' ontouchend="openProfile()">
               <h3>Groups</h3>
            </li>
            <li class='nav' ontouchend="openProfile()">
               <h3>Groups</h3>
            </li>
            <li class='nav'>
               <h3>Groups</h3>
            </li>
            <li class='nav'>
               <h3>Groups</h3>
            </li>
         </ul>
         <p id='response'></p>
        </div>
    </div>
</section>
</article>